a {
  text-decoration: none;
  color: #ffffff;
}

a:active,
  a:hover {
  color: #cccccc;
}
.navigation-items {
  list-style: none;
  padding: 0px;
  margin:0px;
}
.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
